.input-field-wrapper {
  position: relative;
  width: 100%;

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
  }

  input {
    height: 45px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #fff;
    padding: 8px 12px;
    width: 100%;
    outline: none;
    color: #000;
  }
}
