.back-button {
  display: flex;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  padding: 10px;
  width: 150px;
  height: 50px;
  color: white;
  position: absolute;
  top: -380px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  > p {
    margin: 0 !important;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
}
